/* font-family: 'Roboto Mono', monospace; */

body {
  background-color: #683548;
  font-family: "Roboto Mono", monospace;
  text-align: center;
}

.content {
  background-image: url("#");
  /* background-position: center; */
  background-repeat: repeat-x;
  /* centers the background image horizontally and not vertical*/
  background-position: center 0px;
  min-height: 600px;
  width: 100%;
  padding: 0% 0% 0% 0%;
  margin: 0px;
}

.movie-grid {
  display: grid;
  /* short hand for 20 row auto hight and 40 column width */
  grid:
    auto auto auto auto repeat(16, 54px) auto repeat(13, 54px) / auto repeat(
      9,
      48px
    )
    auto;
  grid-gap: 0px;
  width: 100%;
  height: 100%;
  margin: 0px auto;
}

/* content grid */
.movie-screen {
  grid-area: 6 / 2;
  width: 700%;
}

/* wish list tickets */
.wish-list {
  grid-area: 31 / 3;
  transition: transform 1.5s;
  cursor: pointer;
}

.wish-list:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  transform: scale(1.2);
}

/* drive-sign */
.drive-in {
  grid-area: 4 / 1;
  display: none;
}

/* movie gif */
.gify {
  grid-area: 6 / 2 / span 4 / span 7;
}

.gify-embeded-url {
  display: block;
  height: 100%;
  width: 100%;
  margin: 0px auto;
}

/* poster */
.id-arr-image {
  grid-area: 23 / 3;
  width: 500%;
}

/* marguee text-box */
.marquee-container {
  grid-area: 11 / 2 / span 11 / span 7;
  background-color: #ffffff;
  border: solid 2px #ffffff;
}

.marquee {
  height: 100%;
  border: solid 5px #000000;
  padding: 10px;
}

/* API Text in Marguee*/

.id-arr-title {
  font-size: 30px;
}

.info-plot {
  font-size: 19px;
}

.info-year-rating {
  font-size: 19px;
}

.info-cast {
  font-size: 19px;
}

.info-trailer-link {
  display: none;
  font-size: 19px;
}

/* line breaking appart the text in the Marguee */
.marquee-line {
  border: 2px solid #000000;
}

/* modal */
.modalWidth {
  width: 100%;
  border-radius: 15px;
}

.border-R-T {
  border-radius: 12px 12px 0px 0px;
}

.border-R-BB {
  border-radius: 0px 12px 0px 0px;
}

.border-R-B {
  border-radius: 0px 0px 12px 12px;
}

.modelText {
  padding: 7px 0px 0px 0px;
}

.purple {
  background-color: #683548;
  color: #ffffff;
}

/* Medium devices (Small Mobile phones, 400px to 599px) */
@media only screen and (min-width: 400px) {
  .content {
    background-image: url("../images/movies/background.png");
    /* background-position: center; */
    background-repeat: repeat-x;
    /* centers the background image horizontally and not vertical*/
    background-position: center 0px;
    min-height: 600px;
    width: 100%;
    padding: 0% 0% 0% 0%;
    margin: 0px;
  }

  .movie-grid {
    display: grid;
    /* short hand for 20 row auto hight and 40 column width */
    grid: repeat(20, 54px) auto repeat(13, 54px) / auto repeat(9, 48px) auto;
    grid-gap: 0px;
    width: 100%;
    height: 100%;
    margin: 0px auto;
  }

  /* content grid */
  .movie-screen {
    grid-area: 6 / 3;
    width: 700%;
  }

  /* wish list tickets */
  .wish-list {
    grid-area: 31 / 4;
  }

  /* drive-sign */
  .drive-in {
    grid-area: 4 / 2;
    display: none;
  }

  /* movie gif */
  .gify {
    grid-area: 6 / 2 / span 4 / span 9;
  }

  .gify-embeded-url {
    display: block;
    height: 100%;
    width: auto;
    margin: 0px auto;
  }

  /* poster */
  .id-arr-image {
    grid-area: 23 / 4;
    width: 500%;
  }

  /* marguee text-box */
  .marquee-container {
    grid-area: 11 / 3 / span 11 / span 7;
    background-color: #ffffff;
    border: solid 2px #ffffff;
  }
}

/* Medium devices (Ipad, 768px and 1023px) */
@media only screen and (min-width: 768px) {
  .movie-grid {
    display: grid;
    /* 19 rows at 54 then a flex for all the text from API then 9 rows of 54 again */
    grid: repeat(19, 54px) auto repeat(9, 54px) / auto repeat(13, 48px) auto;
    grid-gap: 0px;
    width: 100%;
    height: 100%;
    margin: 0px auto;
  }

  /* content grid */
  .movie-screen {
    grid-area: 5 / 3;
    width: 1100%;
  }

  /* wish list tickets */
  .wish-list {
    grid-area: 24 / 10;
  }

  /* drive-sign */
  .drive-in {
    grid-area: 4 / 2;
    display: none;
  }

  /* movie gif */
  .gify {
    grid-area: 5 / 2 / span 5 / span 13;
  }

  .gify-embeded-url {
    display: block;
    height: 100%;
    margin: 0px auto;
  }

  /* poster */
  .id-arr-image {
    grid-area: 22 / 3;
    width: 500%;
  }

  /* marguee text-box */
  .marquee-container {
    grid-area: 13 / 3 / span 8 / span 11;
    background-color: #ffffff;
    border: solid 2px #ffffff;
  }

  .info-trailer-link {
    display: block;
    font-size: 16px;
  }

  /* modal */
  .modalWidth {
    width: 600px;
  }
}

/* Medium devices (laptops, 1224px and 1823px) */
@media only screen and (min-width: 1224px) {
  .content {
    background-image: url("../images/movies/background.png");
    /* background-position: center; */
    background-repeat: no-repeat;
    /* centers the background image horizontally and not vertical*/
    background-position: center 0px;
    min-height: 900px;
    width: 100%;
    height: 100%;
    padding: 0% 0% 0% 0%;
    margin: 0px;
  }

  .movie-grid {
    display: grid;
    /* short hand for 20 row auto hight and 40 column width */
    grid: repeat(18, 54px) / auto repeat(26, 48px) auto;
    grid-gap: 0px;
    width: 100%;
    height: 100%;
    margin: 0px auto;
  }

  /* content grid */
  .movie-screen {
    grid-area: 2 / 8;
    width: auto;
  }

  /* wish list tickets */
  .wish-list {
    grid-area: 4 / 23;
  }

  /* drive-sign */
  .drive-in {
    grid-area: 4 / 3;
    display: none;
  }

  /* movie gif */
  .gify {
    grid-area: 2 / 6 / span 7 / span 18;
  }

  .gify-embeded-url {
    display: block;
    height: 100%;
    margin: 0px auto;
  }

  /* poster */
  .id-arr-image {
    grid-area: 3 / 3;
    width: 400%;
  }

  /* marguee text-box */
  .marquee-container {
    grid-area: 10 / 3 / span 8 / span 23;
    border: solid 2px #ffffff;
  }

  .marquee {
    height: 100%;
    border: solid 5px #000000;
    padding: 10px;
  }

  /* API Text in Marguee*/

  .id-arr-title {
    font-size: 25px;
  }

  .info-plot {
    font-size: 19px;
  }

  .info-year-rating {
    font-size: 19px;
  }

  .info-cast {
    font-size: 19px;
  }

  .info-trailer-link {
    font-size: 19px;
  }

  /* line breaking appart the text in the Marguee */
  .marquee-line {
    border: 2px solid #000000;
  }
}

/* Laptops devices (Desktops, 1824px and up) */
@media only screen and (min-width: 1824px) {
  .content {
    background-image: url("../images/movies/background.png");
    /* background-position: center; */
    background-repeat: repeat-x;
    /* centers the background image horizontally and not vertical*/
    background-position: center 0px;
    min-height: 900px;
    width: 100%;
    height: 100%;
    padding: 0% 0% 0% 0%;
    margin: 0px;
  }

  .movie-grid {
    display: grid;
    /* short hand for 20 row auto hight and 40 column width */
    grid: repeat(13, 54px) auto repeat(1, 54px) / repeat(38, 48px);
    grid-gap: 0px;
    width: 100%;
    height: 1vh;
    margin: 0px auto;
  }

  /* content grid */
  .movie-screen {
    grid-area: 2 / 14;
  }

  /* wish list tickets */
  .wish-list {
    grid-area: 11 / 34;
  }

  /* drive-sign */
  .drive-in {
    grid-area: 4 / 2;
    width: auto;
    display: block;
  }

  /* movie gif */
  .gify {
    grid-area: 2 / 7 / span 7 / span 28;
  }

  .gify-embeded-url {
    display: block;
    height: 100%;
    margin: 0px auto;
  }

  /* poster */
  .id-arr-image {
    grid-area: 11 / 5;
  }

  /* marguee text-box */
  .marquee-container {
    grid-area: 10 / 10 / span 5 / span 23;
    border: solid 2px #ffffff;
  }

  .id-arr-title {
    font-size: 30px;
  }

  .info-trailer-link {
    font-size: 17px;
  }
}

/* Big devices (Desktops, 1920px and up) */
@media only screen and (min-width: 1920px) {
  .content {
    background-image: url("../images/movies/background.png");
    /* background-position: center; */
    background-repeat: repeat-x;
    /* centers the background image horizontally and not vertical*/
    background-position: center 0px;
    min-height: 900px;
    max-height: 1080px;
    width: 100%;
    padding: 0% 0% 0% 0%;
    margin: 0px;
  }

  .movie-grid {
    display: grid;
    /* short hand for 20 row auto hight and 40 column width */
    grid: repeat(13, 54px) auto repeat(1, 54px) / auto repeat(38, 48px) auto;
    grid-gap: 0px;
    width: 100%;
    height: 1vh;
    margin: 0px auto;
  }
}
