/* font-family: 'Roboto Mono', monospace; */

body {
  background-color: #683548;
}

.content {
  background-image: url("../images/movies/background.png");
  /* background-position: center; */
  background-repeat: repeat-x;
  /* centers the background image horizontally and not vertical*/
  background-position: center 0px;
  min-height: 900px;
  max-height: 1080px;
  width: 100%;
  padding: 0% 0% 0% 0%;
  margin: 0px;
}

.movie-grid {
  display: grid;
  /* short hand for 20 row auto hight and 40 column width */
  grid: repeat(20, 54px) / repeat(40, 48px);
  grid-gap: 0px;
  width: 1920px;
  height: 1vh;
  margin: 0px auto;
}

/* content grid */
.movie-screen {
  grid-area: 2 / 14;
}

/* wish list tickets */
.wish-list {
  grid-area: 11 / 34;
}

/* drive-sign */
.drive-in {
  grid-area: 4 / 1;
}

/* movie gif */
.gify {
  grid-area: 2 / 14 / span 7 / span 14;
}

.gify-embeded-url {
  display: block;
  height: 100%;
  margin: 0px auto;
}

/* poster */
.id-arr-image {
  grid-area: 11 / 3;
}

/* marguee text-box */
.marquee-container {
  grid-area: 11 / 10 / span 7 / span 23;
  background-color: #ffffff;
  border: solid 2px #ffffff;
}
.marquee {
  height: 100%;
  border: solid 5px #000000;
  padding: 2px;
}

/* API Text */
