.js-loading *,
.js-loading *:before,
.js-loading *:after {
  animation-play-state: paused !important;
}

#button img {
  width: 50px;
}

#button {
  border: none;
  cursor: pointer;
  transition: transform 1.5s;
}

#button:hover {
  background-color: #00000000;
  -ms-transform: rotate(-90deg) scale(1.5); /* IE 9 */
  transform: rotate(-90deg) scale(1.5);
}

.content {
  background-image: url("../images/homepage/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 600px;
  max-height: 1080px;
  width: 100vw;
  height: 100vh;
}

/* changing the text color of the input placeholder text */
#search::placeholder {
  color: #949494;
  opacity: 1; /* Firefox */
}

#search:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #949494;
}

#search::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #949494;
}

footer {
  position: absolute;
  bottom: 0px;
  width: 100vw;
  text-align: right;
  padding: 0px 20px 10px 0px;
}

.footer {
  display: inline-block;
  font-weight: 500;
}

.imdb {
  width: 50px;
}

#search {
  background-color: #000000;
  border: #000000;
  color: #ffffff;
  font-weight: 500;
  border-radius: 7px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 600px;
  max-height: 1080px;
  width: 340px;
  animation-name: grow;
  animation-duration: 3s;
  margin: auto;
}

@keyframes grow {
  0% {
    width: 100px;
  }
  100% {
    width: 340px;
  }
}

.wish-list-area {
  position: absolute;
  height: 100vh;
  width: 375px;
  z-index: 1;
}

.wl-area {
  float: left;
  height: 100%;
  width: 250px;
  background-color: #dd1e01de;
  animation-duration: 3s;
}

.wish-list-tab {
  float: left;
  width: 100px;
  margin: 20% 0px 0px 0px;
  cursor: pointer;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.ul-wl {
  text-align: center;
  font-size: 24px;
  color: white;
  font-family: "Roboto Mono", monospace;
  list-style-type: none;
  padding: 40px 0px;
  font-weight: 500;
}

.li-title {
  color: black;
  font-family: "Roboto Mono", monospace;
  font-weight: 900;
  font-size: 40px;
}

.li-wl {
  margin: 5px 0px;
  cursor: pointer;
}

.grow {
  animation-name: grow2;
}

.shrink {
  animation-name: shrink2;
}

@keyframes shrink2 {
  0% {
    width: 250px;
  }
  100% {
    width: 0px;
  }
}

@keyframes grow2 {
  0% {
    width: 10px;
  }
  100% {
    width: 250px;
  }
}

/* Medium devices (Small Mobile phones, 400px to 599px) */
@media only screen and (min-width: 400px) {
  /* search bar */
  .center {
    width: 360px;
  }

  /* search bar growth */
  @keyframes grow {
    0% {
      width: 100px;
    }
    100% {
      width: 360px;
    }
  }

  /* wish list container */
  .wish-list-area {
    width: 380px;
  }

  /* wish list red text area */
  .wl-area {
    width: 280px;
  }

  /* wish list tab */
  .wish-list-tab {
    width: 70px;
  }

  /* wish list growth */
  @keyframes shrink2 {
    0% {
      width: 280px;
    }
    100% {
      width: 0px;
    }
  }

  @keyframes grow2 {
    0% {
      width: 50px;
    }
    100% {
      width: 280px;
    }
  }
}

/* Medium devices (Small Mobile phones, 600px to +) */
@media only screen and (min-width: 600px) {
  /* search bar */
  .center {
    width: 600px;
  }

  /* search bar growth */
  @keyframes grow {
    0% {
      width: 100px;
    }
    100% {
      width: 600px;
    }
  }

  /* wish list container */
  .wish-list-area {
    width: 600px;
  }

  /* wish list red text area */
  .wl-area {
    width: 450px;
  }

  /* wish list tab */
  .wish-list-tab {
    width: 100px;
  }

  /* wish list growth */
  @keyframes shrink2 {
    0% {
      width: 450px;
    }
    100% {
      width: 0px;
    }
  }

  @keyframes grow2 {
    0% {
      width: 100px;
    }
    100% {
      width: 450px;
    }
  }
}
