.js-loading *,
.js-loading *:before,
.js-loading *:after {
  animation-play-state: paused !important;
}

#button img {
  width: 50px;
}

#button {
  border: none;
  cursor: pointer;
  transition: transform 1.5s;
}

#button:hover {
  background-color: #00000000;
  -ms-transform: rotate(-90deg) scale(1.5); /* IE 9 */
  transform: rotate(-90deg) scale(1.5);
}

.content {
  background-image: url("../images/homepage/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 600px;
  max-height: 1080px;
  width: 100vw;
  height: 100vh;
}

/* changing the text color of the input placeholder text */
#search::placeholder {
  color: #949494;
  opacity: 1; /* Firefox */
}

#search:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #949494;
}

#search::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #949494;
}

footer {
  position: absolute;
  bottom: 0px;
  width: 100vw;
  text-align: right;
  padding: 0px 20px 10px 0px;
}

.footer {
  display: inline-block;
  font-weight: 500;
}

.imdb {
  width: 50px;
}

#search {
  background-color: #000000;
  border: #000000;
  color: #ffffff;
  font-weight: 500;
  border-radius: 7px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42%;
  width: 340px;
  min-height: 42%;
  max-height: 1080px;
  animation-name: grow;
  animation-duration: 3s;
  margin: auto;
  width: 100%;
  padding: 0px 15px;
}

@keyframes grow {
  0% {
    width: 121px;
  }
  100% {
    width: 100%;
  }
}

.wl-area {
  float: left;
  height: 100%;
  width: 250px;
  background-color: #dd1e01de;
  animation-duration: 3s;
}

.wish-list-tab {
  float: left;
  height: 285px;
  padding: 215px 0px 0px 0px;
  cursor: pointer;
}

.wish-list-tab-width-max {
  width: 100%;
  animation-duration: 3s;
  animation-name: shrink3;
}

@keyframes shrink3 {
  0% {
    width: 121px;
  }
  100% {
    width: 100%;
  }
}

.wish-list-tab-width-min {
  width: 121px;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.hide2 {
  display: none;
}

.showFlex {
  display: flex;
}

.ul-wl {
  text-align: center;
  font-size: 24px;
  color: white;
  font-family: "Roboto Mono", monospace;
  list-style-type: none;
  padding: 40px 0px;
  font-weight: 500;
}

.li-title {
  color: black;
  font-family: "Roboto Mono", monospace;
  font-weight: 900;
  font-size: 40px;
}

.li-wl {
  margin: 5px 0px;
  cursor: pointer;
}

.grow {
  animation-name: grow2;
}

.shrink {
  animation-name: shrink2;
}

@keyframes shrink2 {
  0% {
    width: 250px;
  }
  100% {
    width: 0px;
  }
}

@keyframes grow2 {
  0% {
    width: 10px;
  }
  100% {
    width: 250px;
  }
}

/* Medium devices (Small Mobile phones, 400px to 599px) */
@media only screen and (min-width: 400px) {
  /* search bar growth */
  @keyframes grow {
    0% {
      width: 150px;
    }
    100% {
      width: 100%;
    }
  }

  /* wish list red text area */
  .wl-area {
    width: 280px;
  }

  /* wish list growth */
  @keyframes shrink2 {
    0% {
      width: 280px;
    }
    100% {
      width: 0px;
    }
  }

  @keyframes grow2 {
    0% {
      width: 50px;
    }
    100% {
      width: 280px;
    }
  }
}

/* Medium devices (Small Mobile phones, 600px to +) */
@media only screen and (min-width: 600px) {
  /* search bar */
  .center {
    height: 100%;
    width: 470px;
    position: static;
    z-index: initial;
    padding: 0px 0px;
    min-height: 600px;
    max-height: 1080px;
  }

  .wish-list-tab-width-max {
    animation-name: none;
    animation-duration: none;
    width: 121px;
  }

  .wish-list-tab-width-min {
    width: 121px;
  }

  /* search bar growth */
  @keyframes grow {
    0% {
      width: 100px;
    }
    100% {
      width: 470px;
    }
  }

  /* wish list red text area */
  .wl-area {
    width: 450px;
  }

  /* wish list growth */
  @keyframes shrink2 {
    0% {
      width: 450px;
    }
    100% {
      width: 0px;
    }
  }

  @keyframes grow2 {
    0% {
      width: 0px;
    }
    100% {
      width: 450px;
    }
  }
}

/* Medium devices (mid sized, 750px to +) */
@media only screen and (min-width: 750px) {
  .center {
    width: 600px;
  }

  /* search bar growth */
  @keyframes grow {
    0% {
      width: 100px;
    }
    100% {
      width: 600px;
    }
  }
}

/* Medium devices (mid sized, 1150px to +) */
@media only screen and (min-width: 1150px) {
  .hide2 {
    display: flex;
  }

  .showFlex {
    display: flex;
  }
}
